<div *ngIf="components && form && name && components.length > 0" [formGroup]="form">

  <div class="text-right mb-1">
    <button class="btn btn-success" (click)="addRow()" type="button"> Dodaj wiersz</button>
  </div>

  <div class="table-responsive-lg table-wrapper">
    <table class="table table-striped bordered wider-table">
      <thead>
      <tr>
        <th *ngFor="let component of components"
            [ngClass]="getLabelClasses(component)"
            [innerHtml]="component.label | safeHtml">
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody [formArrayName]="name">
      <tr *ngFor="let item of namesControls.controls; let i=index">
        <td *ngFor="let component of components">
          <div class="form-group"
               [formGroupName]="i"
               [ngSwitch]="component.type"
               [ngClass]="{'error': names(i,component.name) && (names(i,component.name).invalid && (names(i,component.name).dirty || isSubmitted))}">
            <input *ngSwitchCase="fieldTypes.text"
                   type="text"
                   class="form-control"
                   [attr.placeholder]="component.placeholder"
                   [attr.id]="component.name + i"
                   [formControlName]="component.name"
                   (change)="evalFormula(component.formula, i)">

            <input *ngSwitchCase="fieldTypes.number"
                   type="number"
                   class="form-control"
                   [attr.placeholder]="component.placeholder"
                   [attr.id]="component.name + i"
                   [formControlName]="component.name"
                   (change)="evalFormula(component.formula, i)">

            <input *ngSwitchCase="fieldTypes.email"
                   type="email"
                   class="form-control"
                   [attr.placeholder]="component.placeholder"
                   [attr.id]="component.name + i"
                   [email]="true"
                   [formControlName]="component.name"
                   (change)="evalFormula(component.formula, i)">

            <textarea *ngSwitchCase="fieldTypes.textArea"
                      [attr.placeholder]="component.placeholder"
                      [attr.id]="component.name + i"
                      [formControlName]="component.name"
                      (change)="evalFormula(component.formula, i)"></textarea>

            <input *ngSwitchCase="fieldTypes.date"
                   type="text"
                   class="form-control form-control-sm"
                   #dp="bsDatepicker"
                   [attr.id]="component.name + i"
                   bsDatepicker
                   [attr.placeholder]="component.placeholder"
                   [formControlName]="component.name"
                   [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
                   (change)="evalFormula(component.formula, i)">

            <label *ngSwitchCase="fieldTypes.checkBox">
              <input
                type="checkbox"
                [attr.id]="component.name + i"
                [formControlName]="component.name"
                (change)="evalFormula(component.formula, i)">
              <label [attr.for]="component.name"></label>
              {{component.label}}
            </label>

            <div *ngSwitchCase="fieldTypes.radio">
              <label *ngFor="let item of component.values">
                <input type="radio"
                       [formControlName]="component.name"
                       [attr.id]="item.value"
                       [value]="item.value"
                       (change)="evalFormula(component.formula, i)">
                <label [attr.for]="item.value"></label>
                {{item.display}}
              </label>
            </div>

            <select *ngSwitchCase="fieldTypes.select"
                    class="form-control form-control-sm"
                    [attr.id]="component.name + i"
                    [formControlName]="component.name"
                    (change)="evalFormula(component.formula, i)">
              <option [value]="null" default disabled> {{component.placeholder}}</option>
              <option [value]="item.value" *ngFor="let item of component.values">{{item.display}}</option>
            </select>

            <img *ngSwitchCase="fieldTypes.img"
                 [src]="component.src"
                 [alt]="component.alt"
                 [attr.id]="component.name + i"/>

            <small *ngIf="component.desc" class="form-text text-muted field-desc">{{component.desc}}</small>

            <div
              *ngIf="names(i,component.name) && (names(i,component.name).invalid && (names(i,component.name).dirty || isSubmitted))"
              class="error-text">
              <div *ngIf="names(i,component.name).errors.required">
                Pole jest wymagane.
              </div>
              <div *ngIf="names(i,component.name).errors.maxlength">
                Długość za długa, max to: {{component.validation.maxLength}}
              </div>
              <div *ngIf="names(i,component.name).errors.minlength">
                Długość za krótka, min to: {{component.validation.minLength}}
              </div>
              <div *ngIf="names(i,component.name).errors.min">
                Minimalne to: {{component.validation.min}}
              </div>
              <div *ngIf="names(i,component.name).errors.max">
                Maksymalne to: {{component.validation.max}}
              </div>
              <div *ngIf="names(i,component.name).errors.pattern || form.controls[component.name].errors.email">
                Nieprawidłowy format
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-danger" (click)="removeRow(i)">x</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

