.form-component-details-modal .text-align-right{
  text-align: right;
}

.form-component-details-modal .form-control{
  font-size: 1.5rem;
}

.form-component-details-modal .btn{
  font-size: 1.5rem;
}
