<div style="margin-top: 1rem;" *ngIf="formGroup" [formGroup]="formGroup">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label">Klasy na divie całego komponentu</label>
        <input type="text"
               id="componentClasses"
               class="form-control"
               formControlName="componentClasses"/>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label">Klasy na etykiecie</label>
        <input type="text"
               id="labelClasses"
               class="form-control"
               formControlName="labelClasses"/>
      </div>
    </div>
    <!--<div class="col-sm-12">-->
    <!--<div class="form-group">-->
    <!--<label class="control-label">Klasy na polu do wprowadzania</label>-->
    <!--<input type="text"-->
    <!--id="inputClasses"-->
    <!--class="form-control"-->
    <!--formControlName="inputClasses"/>-->
    <!--</div>-->
    <!--</div>-->


  </div>
</div>

